.Results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Results {
    overflow-x: scroll;
}

#dark .table {
    color: white
}

#dark .table-hover thead tr:hover th, #dark .table-hover tbody tr:hover td {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(33,37,41);
}
